body{
    font-family: 'Playfair Display', serif;
}
header{
    background-color: #BBBBBB;
    padding: 20px;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top:110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
#banner {
    width: 100%;
}
.principal{
    background: #CCCCCC;
    padding: 30px;
}

.tituloPrincipal{
    padding-left: 20px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: white;
    padding: 20px;
}
.tituloCentralizado{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
   
}
.listaBeneficios{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 22px;
    list-style: square;
}
.imagembeneficios{
    width: 50%;

}

.imagembeneficios {
    width: 50%;
    border: 5px solid #000000;
    border-radius: 10px;
}
.imagembeneficios:hover{
    border-color: #c79c18;
}

.feedback-clientes{
    background: #FFFFFF



}
.feedback{

    width: 940px;
    margin: 0 auto;
    padding: 20px;

}

.feedback li{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 0 1.5%;
    box-sizing: border-box;
    padding: 30px 20px;
    vertical-align: top;
    border: 2px solid #000000;
    border-radius: 10px;
}

.feedback li:hover{
    border-color: #c79c18;
}

.nomeCliente{

    font-weight: bold;
    font-size: 16;
}

.comentarioCliente{

    font-style: italic;
}

.fotoCorte{

    width: 50%;
    display: inline;
}


footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}
.rodape{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
